<%- include ('./../layout/header'); %>
<div class="row">
	<div class="col-md-6">
		
	</div>
	<div class="col-md-6">
		<h3 class="text-success"> welcome to node scaleable app</h3>
	</div>
</div>
<%- include ('./../layout/footer'); %>
