<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rko</title>
	<!-- load css -->
	<link rel="stylesheet" href="public/lib/css/bootsrtap/bootstrap.min.css">
	<link rel="stylesheet" href="public/lib/css/bootsrtap/bootstrap-grid.min.css">
	<link rel="stylesheet" href="public/lib/css/bootsrtap/bootstrap-reboot.min.css">
	
	<!-- load js -->

	<script src="public/lib/js/bootstrap/bootstrap.min.js"></script>
	<script src="public/lib/js/bootstrap/bootstrap-bundle.min.js"></script>

</head>
<body>
<div class="container">

	
